<nav>
  <div class="nav-wrapper z-depth-2">
    <a [routerLink]="['']" class="brand-logo right">
      <div class="div-logo">
        <img id="logo" src="../assets/itau.png">
      </div>
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li [routerLink]="['/cadastro']" routerLinkActive="active"><a>Cadastro</a></li>
      <li [routerLink]="['/pesquisa']" routerLinkActive="active"><a>Pesquisa</a></li>
      <li [routerLink]="['/conciliacao']" routerLinkActive="active"><a>Conciliação</a></li>
      <li [routerLink]="['/relatorio']" routerLinkActive="active"><a>Relatório</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>