.nome-campo{
    font-size: 10px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color:  rgb(236,112,0);;
}

input, select{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.gravar{
    color: green;
}

.icone{
    margin-top: 22px;
    padding-right: 15px;
}

.row{
    margin-top: 35px;
    padding: 15px;
}